*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    object-fit: cover;
}
main,header,footer,div,section,article,figure,figcaption,nav,ul{
    display: flex;
    flex-wrap: wrap;
}
:root{
    
}